// Colors
$clr-grey-main: hsl(220, 3%, 20%);
$clr-grey-darken: hsl(240, 3%, 15%);
$clr-grey-lighten: hsl(225, 3%, 25%);
$clr-blue-accent: hsl(189, 100%, 45%);
$clr-blue-darken: hsl(189, 100%, 40%);
$clr-black: hsl(210, 4%, 10%);
$clr-white: hsl(210, 4%, 90%);

$ff-main: 'Raleway', sans-serif;
$ff-header: 'Raleway', sans-serif;