.sect-profits {
  padding: 70px 0;

  &__card-box {
    text-align: center;
    padding: 0 30px;
  }

  &__card-icon,
  &__card-icon--blue {
    display: inline-block;
    height: 70px;
    width: 70px;
    font-size: 30px;
    line-height: 70px;
    margin: 15px 0;
    color: #fff;
    border-radius: 10px;
    background-color: $clr-black;

    &--blue {
      background-color: $clr-blue-accent;
    }
  }

  &__card-header,
  &__card-header--blue {
    font-family: $ff-header;
    font-size: 20px;
    font-weight: 700;
    color: $clr-black;
    margin: 5px 0;
    text-transform: uppercase;

    &--blue {
      color: $clr-blue-accent;
    }
  }

  &__feature-wrapper {
    text-align: center;
  }

  &__feature-header {
    font-family: $ff-header;
    margin: 25px 0 15px;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    color: $clr-black;
  }

  @include phone {
    & {
      padding: 20px 0;
    }
  
    &__card-box {
       padding: 10px 20px;
    }
  
    &__feature-header {
      margin: 18px 0 12px;
      font-size: 27px;
    }
  }
}












